# general node stuff
**/node_modules
**/*.log
src/@main/data/**/*.*
external
# gizmo stuff (C# zone)
src/.vs/
src/gizmo/bin/
src/gizmo/obj/
src/gizmo/Content/obj/
src/gizmo/Content/bin/
src/gizmo/*.dll
# temp
src/gizmo/lib/classic-1/
src/gizmo/lib/icons_win2k_sp4_en/