extends ../template/1d1p.pugtemplate
block body
    h1 MANAGE WEEKS 
    c what are you doing here lmfao this is dev zone
    br
    .hlist 
        p password
        input#password(type="password")
        .spacer
    .hlist 
        p week 
        input#week(type="number", min="0", step="1")
        button FETCH
        .spacer
    .hlist 
        p theme 
        input#theme
        .spacer
    .hlist 
        p description
        textarea#description(style="width: 100%; min-height: 50vh;")
        .spacer
    .hlist 
        p custom css
        textarea#css(style="width: 100%; min-height: 25vh;")
        .spacer
    br
    button(style="width: 100%") SUBMIT