extends ./template/base.pugtemplate
block meta
    - v = true
    - title = 'prod zedpod Against ICE'
    - description = 'FOR THE america !!!!!!!!!!!!!!!!'
    - thumbnail = 'https://prod.kr/images/icon/discord_old.png'
block postbody
    script.
        window.location.href = 'https://tiltify.com/@prodzpod/vice-2025';