extends ./template/base.pugtemplate
block meta
    - title = 'contacts'
block body 
    h1 Contacts
    p
        | The best way to reach me is via <b>@pr_d</b> on 
        | <a href='https://discord.com/users/384658485867970560'>Discord</a>. 
        | I am there pretty much constantly and I will see any DMs that come in my way. 
        | If you'd like to, you can also join my <a href='https://prod.kr/discord'>Discord server</a>. 
        | I post frequent updates and chat around quite often.
    h2 Other accounts
    p i don't actively read DMs in these accounts but you can use these to follow what i'm up to if you want
    p: a(href='https://mastodon.gamedev.place/@prod') Mastodon (Game Dev)
    p: a(href='https://bsky.app/profile/prodzpod.bsky.social') Blue Sky (Streaming)
    p: a(href='youtube.com/@prodzpod') Youtube (General)
    p: a(href='youtube.com/@prodzvod') Youtube (Stream VODs)
    br
    p updates for upcoming game <a href="https://prodzpod.itch.io/startellers">Startellers</a>
    p: a(href='https://twitter.com/Startellers') Twitter (Startellers)
    p: a(href='https://startellersgame.tumblr.com') Tumblr (Startellers)
    h2 Inactive/"Mirror" accounts
    p these accounts only posts the same stuff from my other accounts, and i check them less often
    p: a(href='https://twitter.com/prodzpod') Twitter (Personal)
    p: a(href='https://prodzpod.tumblr.com') Tumblr (Personal)
    p: a(href='https://mas.to/@prod') Mastodon (Personal)
    p: a(href='https://www.reddit.com/u/prodzpod') Reddit
    p: a(href='https://raddle.me/user/prod') Raddle
    p I also have an email at <b>prodzpod@protonmail.com</b> but I pretty much do not check it.