extends ./template/base.pugtemplate
block meta
    - title = 'contacts'
block body 
    h1 Contacts
    p
        | The best way to reach me is via <b>@pr_d</b> on 
        | <a href='https://discord.com/users/384658485867970560'>Discord</a>. 
        | I am there pretty much constantly and I will see any DMs that come in my way. 
        | If you'd like to, you can also join my <a href='https://prod.kr/discord'>Discord server</a>. 
        | I post frequent updates and chat around quite often.
    h2 Inactive/"Ads only" accounts
    p: a(href='https://twitter.com/prodzpod') Twitter 
    p: a(href='https://mas.to/@prod') Mastodon
    p: a(href='https://www.reddit.com/u/prodzpod') Reddit
    p: a(href='https://raddle.me/user/prod') Raddle
    p: a(href='https://twitter.com/Startellers') Twitter (Startellers)
    p: a(href='https://startellersgame.tumblr.com') Tumblr (Startellers)
    p: a(href='https://mastodon.gamedev.place/@prod') Mastodon (Startellers)
    p I also have an email at <b>prodzpod@protonmail.com</b> but I pretty much do not check it.