extends ./template/base.pugtemplate
block meta
    - v = true
    - title = 'Offcards4 Catalogue'
    - description = 'OFFKAI Exclusive Card Showcase'
block postbody
    script.
        window.location.href = 'https://prod.kr/card';