extends ./template/base.pugtemplate
block meta
    - v = true
    - title = 'start menu 🌙'
    - description = 'come hang out // prvdzcord'
block postbody
    script.
        window.location.href = 'https://discord.gg/DrUZBeVYMm';