extends ./template/base.pugtemplate
block meta
    - title = 'portfolio'
block body 
    h1 what i did on the internet
    p Only half of my portfolio. Please refer to the resume for the "real name" part of my work (featuring real work experience!)
    p If you are in mobile/nojs/low spec pc/does not support webgl, try the <a href="//prod.kr/folio/legacy">legacy portfolio</a>
    .spacer(style="margin: 128px;")
    .vlist#wrapper
        .hlist
            .spacer
            .vlist(style="width: 100%")
                svg.layer.center#underlay(viewBox="0 0 2048 3200")
                canvas.center#main(width=2048 height=3200)
                .layer.center#hover
                    #hover-inner
                        p#hover-text Startellers 25/12 DX: the True becomings of the weird egg looking guys adventure
            .spacer
        .layer.noflashy.vlist#overlay 
            img.tag#featuredtag(src="//prod.kr/images/tags/test.png" onerror="this.src = \"//prod.kr/images/tags/test.png\"")
            h1.mobile#title TITLE OF THE THING
            .hlist.hard
                .vlist(style="margin-right: 16px; z-index: 1;")
                    #images
                        img.noflashy#profile(src="//prod.kr/images/folio.png" width=4096 height=4096)
                    button.noflashy.center#next-image(onclick="nextImage(event)")
                .vlist.right.spacer.soft
                    h1.pc#title TITLE OF THE THING
                    c#subtitle subtitle...
                    .hlist.left#tags
                        p tags!
                    .spacer
                    .vlist.right#meta-wrapper
                        c#date <i>O</i> date / date
                        p: a#url(target="_blank") <i>O</i> https://url.com/asdasdasd/asdsadasd/asdasdasd
            p#description description...
            .spacer
            .hlist
                .spacer
                c Click anywhere to dismiss
    p also check out <a href="//prod.kr/music">Discography</a> (much less fun than this page)
    img#tex
block postbody
    style.
        html { scroll-behavior: smooth; }
        .layer { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
        #main, .layer { width: min(100%, 1024px); }
        #tex { 
            display: none; 
            width: 4096px; 
            height: 4096px; 
            image-rendering: crisp-edges; 
        }
        #underlay { filter: blur(8px) brightness(0.5); }
        #hover-inner {
            background-color: #444;
            width: 256px;
            padding: 16px;
            border-radius: 8px;
            position: absolute;
            transform: translate(-128px, 16px);
            display: none;
        }
        #hover-inner::before {
            content: " ";
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: #444;
            transform: rotate(45deg);
            top: -8px;
            left: calc(50% - 8px);
        }
        #wrapper { min-height: calc(100vh - 128px); }
        #overlay {
            width: 100%;
            min-height: calc(100vh - 128px);
            bottom: unset;
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            pointer-events: none;
            margin: 16px;
            border: 16px solid white;
            padding: 64px;
            transform: translate(0, 64px) rotate(0deg)
        }
        #overlay a, #overlay button, #overlay iframe, #overlay video { pointer-events: all; }
        #profile {
            width: var(--tex-width);
            height: var(--tex-height);
            object-fit: none;
            object-position: var(--profile-x) var(--profile-y);
            padding-top: 32px;
        }
        #next-image {
            width: 0;
            height: 0;
            padding: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 50px solid rgba(255, 255, 255, 0.35);
            margin: 16px auto;
            margin-bottom: -66px;
            background-color: transparent !important;
            transition: border-top 0.1s, margin-bottom 1s, opacity 2s;
            opacity: 0;
            cursor: default;
        }
        #next-image:hover { border-top: 50px solid rgba(255, 255, 255, 0.7); }
        .tag { 
            position: absolute; 
            left: -80px; 
            top: 0;
            opacity: 0; 
            transition: opacity 0.15s, left 0.2s, top 0.25s; 
            pointer-events: all; 
            width: 128px; image-rendering: smooth; 
        }
        .tag:hover { z-index: 1 !important; }
        #images { width: var(--tex-width); height: var(--tex-height); }
        .image {
            width: var(--tex-width);
            height: var(--tex-height);
            object-fit: contain;
            position: absolute;
            top: 0;
            opacity: 0;
            transition: top 1s, padding 0.5s, opacity 0.5s, transform 0.5s;
            transform: rotate(0deg);
        }
        @keyframes featured-glint {
            from { --angle: 0deg; }
            to { --angle: 360deg; }
        }
        @property --angle {
            syntax: '<angle>';
            initial-value: 0deg;
            inherits: false;
        }
        .featured { 
            --angle: 0deg;
            border-image: linear-gradient(var(--angle), var(--border)) 1 !important;
            animation: featured-glint linear 5s infinite; 
        }
        .featured-gold { 
            --border: #ffff88, #f6b73c, #ffff88, #f6b73c, #ffff88, #f6b73c; 
            --flash: rgba(255, 255, 128, 0.4); color: yellow !important; 
        }
        .featured-cyan { 
            --border: #00ffff; 
            --flash: rgba(128, 255, 255, 0.4); color: cyan !important; 
        }
        @keyframes featured-blink {
            from { background-color: var(--flash); }
            to { background-color: transparent; }
        }
        .featured::after { animation: featured-blink 5s forwards; position: absolute; top: 0; bottom: 0; left: 0; right: 0; content: " "; }
        #featuredtag {  
            z-index: 100 !important;
            left: -60px;
            top: -25px;
            transform: rotate(-25deg);
            display: none;
        }
        @media all and (max-width: 1500px) {
            #subtitle { 
                margin-bottom: -16px;
                transform: translate(0, -16px); 
            }
        }
    script(src="//prod.kr/js/folio.js")