extends ./template/base.pugtemplate

block body-outer
    .spacer
    .body
        h1.center <span style='display: inline-block;'>pr<span class='random'>o</span>dzp<span class='random'>o</span>d</span> // <span style='display: inline-block;'>pr<span class='random'>o</span>ducti<span class='random'>o</span>ns</span> 
        p.center making all kinds <span class='random'>o</span>f wired things
    .spacer