extends ./template/base.pugtemplate
block meta
    - title = 'Witmini #26'
block body-outer
    .spacer
    .body
        .hlist
            .spacer
            img(src="//prod.kr/images/clue4.png")
            .spacer
        .hlist
            .spacer
            button(onclick="window.location.href = 'https://prod.kr/witmini'") back
            .spacer
    .spacer