extends ./template/base.pugtemplate
block meta
    - title = 'links'
block body 
    h1 Links 
    h2 My Webpages
    p
        a(href="http://witscord.net/~prod") witscord.net
        | : puzzle community webring
    p
        a(href="https://pub.colonq.computer/~prod") pub.colonq.computer
        | : LCOLONQ community webring
    p
        a(href="https://yume.wiki/User:Prodzpod") yume.wiki User Page
        | : miscellaneous 
        a(href="https://ynoproject.net/") YNO
        |  data
    h2 Repositories 
    p: a(href="https://prodzpod.itch.io") itch.io 
    p: a(href="https://github.com/prodzpod") Github 
    p: a(href="https://www.youtube.com/@prodzpod") YouTube
    p
        a(href="https://toyhou.se/prod") toyhou.se
        | : drawing repository
    p
        a(href="https://thunderstore.io/package/prodzpod") Thunderstore
        | : Risk of Rain 2 mods
    h2 Entertainment
    p: a(href="https://prod.kr/live") prod.kr/live
    p: a(href="https://prod.kr/yt") prod.kr/yt &nbsp;&nbsp; (@prodzpod)
    p: a(href="https://prod.kr/vod") prod.kr/vod  (@prodzvod)