extends ./template/base.pugtemplate
block meta
    - v = true
    - title = 'prod on air'
    - description = 'twitch dot tuvalu slash prodzpod'
block postbody
    script.
        window.location.href = 'https://twitch.tv/prodzpod';