extends ./template/base.pugtemplate
block meta
    - v = true
    - title = 'the screen'
    - description = 'the TRUE prod z pod broadcast experience'
block postbody
    script.
        window.location.href = 'https://prod.kr/v/screen';