extends ./template/base.pugtemplate
block meta
    - title = 'Support Us'
block body 
    .hlist
        .vlist(style="max-width: 50%;")
            h1 Support us
            p Thank you so much for checking us out! I hope you enjoy the various gizmos we created for you.
            div(style="height: 16px;")
            p I am a 20s person with no stable income. Servers used for services such as <a href="//heat.prod.kr">Greenheat</a> or <a href="//unreactive.prod.kr">Unreactive</a> is running on my personal computer.
            p Any donations will greatly help me in not only continuing to develop helpful things on the internet, but also to scale up our existing operations!
            div(style="height: 16px;")
            p If you're in a similar situation as me, don't worry! Simply getting the word out also helps me out a lot. It would mean the world if more people's lives can be improved by something I can provide.
            div(style="height: 64px;")
            img(src="https://prod.kr/data/emote/prod/_teal_heart_.png" style="width: 256px; margin: auto;")
            .spacer
        .vlist(style="align-self: unset;")
            iframe(src="https://ko-fi.com/prodzpod" style="width: 100%; height: max(100%, calc(100vh - 128px - 108px - 100px)); margin-left: 32px;")