extends ../template/base.pugtemplate

block meta
    - v = true
    - title = 'hall of fame'
    - description = 'the achievements'
block body 
    h1 Hall of Fame
    p <em>Uncommon</em> icons can only be gotten by completing certain achievements within the streams. here are the list of them and the list of achievers so far.
    .achievement
        h2 uncommon/defrag
        p: em Break the Gizmo. (frontend crashes dont count)
    .achievement
        h2 uncommon/dollar
        p: em Achieve 1 Million units. (legitimately)
    .achievement
        h2 uncommon/handshake
        p: em Create a companion gizmo.
    .achievement
        h2 uncommon/icon_up
        p: em Become Elephanted on a non-witcord server.
    .achievement
        h2 uncommon/vt
        p: em Appear on the broadcast (we're open!)
    .achievement
        h2 uncommon/entity_1
        p: em Create your own Guy (by yourself)
    .achievement
        h2 uncommon/entity_2
        p: em Discover a secret feature
    .achievement
        h2 uncommon/sword
        p: em Score a 5 streak against an opponent (thank you nichepenguin)
    .achievement
        h2 uncommon/sword_shield
        p: em Achieve 100 total wins
    .achievement
        h2 uncommon/pillar
        p: em Defeat the Raid Boss
    .achievement
        h2 uncommon/graduation
        p: em ?????????????????????????
    br
    p: c more to come ...
block postbody 
    style.
        li { margin-left: 32px; display: block; }
        h2 img {
            width: 64px;
            image-rendering: crisp-edges;
        }
    script.
        addEvent('onload', async () => {
            for (let el of q('h2')) {
                const name = el.innerText;
                el.innerHTML = `<img src="/data/icon/${name}.png"> ${name.split("/").at(-1)}`;
                insertElement("ul", el.parentElement, "users", "<li><c>none yet!</c></li>").with("id", "list-" + name);
            }
            const achievements = await (await fetch("https://prod.kr/api/achievement")).json();
            for (let k in achievements) {
                if (e("list-" + k).innerText === "none yet!") e("list-" + k).innerHTML = "";
                for (let v of achievements[k]) insertElement("li", "list-" + k, "user", v);
            }
        });