/**
 * Minified FreeCoolCSS
 * For Mobile Use
 */
/* destroy all duplicate / predatory features */
/* top tab */
#app-mount [class*="-base"] { grid-template-rows: unset !important; }
#app-mount [class*="-base"] > [class*="-bar"], /* top bar in general */
[class*="-notice"]:has([aria-label="Dismiss"]), /* auto dismiss */
a[href="https://support.discord.com"]:has(> [class*="-iconWrapper"]), /* "?" button in top tab */
[class*="-iconWrapper"][aria-label="Notification Settings"], /* notification setting in top tab */
[class*="-iconWrapper"]:first-child:has(~ [class*="-caret"]), [class*="-titleWrapper"]:has(+ [class*="-caret"]), [class*="-titleWrapper"] + [class*="-caret"], /* parent channelname on threads */
[class*="-iconWrapper"][aria-label="Show User Profile (Unavailable)"], /* why are you showing me this button if its unavailable */
/* left tab */
span:has([aria-label="Invite to Channel"]), span:has([aria-label="Invite to Channel"]) + [class*="-hiddenVisually"], /* in right click menu */
[data-list-id="guildsnav"] [class*="-listItem"]:has([aria-label="Discover"]), /* discover button */
[class*="-guildIconV2Container"]:has([class*="-flowerStarContainer"]), /* server status (community, verified, etc) */
li:has([aria-label="Server Guide"]), /* server guide */
li[class*="-containerDefault"]:has([aria-label="Clear"][class*="-dismissWrapper"]),
li[class*="-containerDefault"]:has([aria-label="Clear"][class*="-dismissWrapper"]) + li,
li[class*="-containerDefault"]:has([aria-label="Clear"][class*="-dismissWrapper"]) + li + [class*="-sectionDivider"], /* suggested channel */
li:has(> [data-list-item-id*="channels___boosts-"]), /* boosts progress bar on channel tab */
li:has(> [class*="-wrapper"] > [data-list-item-id*="channels___upcoming-events-"]), /* upcoming events */
li:has(> [class*="-wrapper"] > [data-list-item-id*="channels___upcoming-events-"]) + [class*="-sectionDivider"], /* sidebar after upcoming events */
:is(a[href*="/channels/"], a[data-list-item-id*="channels___"]) [class*="-iconItem"][aria-label="Create Invite"], /* create invite on channel (use right click on server) */
li:has([data-list-item-id*="channels___members-"]), /* "members" button on channel list */
#channels [class*="-voiceChannelsButton"]:has(> [class*="-voiceChannelsToggleIcon"]), /* hide voice channels */
[class*="-channelNotice"]:has(> [aria-label="Dismiss"]), /* oh no! your server to lose a level */
li:has(> div > [aria-label="Server Boosts"]), li:has(> div > [aria-label="Server Boosts"]) + [class*="-sectionDivider"],
/* left tab: friends/dms */
li:has([data-list-item-id*="___nitro"]), /* buy nitro */
li:has([data-list-item-id*="___shop"]), /* buy nitro 2 */
li:has([href="/quest-home"]),
[class*="-container"]:has(> [class*="-privateChannelsHeaderContainer"]):has(> [class*="-itemContainer"]), /* play again */
[class*="-closeButton"][aria-label="Close DM"], /* close dm button (use right click) */
/* right tab */
[class*="-members"] [class*="-botTag"], /* bot tags on memberlist */
[class*="-members"] [class*="-clanTag"], /* clan tags on vc */
[class*="-voiceChannelHighlightContainer"] [class*="-clanTag"],
[class*="-nameplated"] > div:first-child,
[role="button"]:has(> svg[aria-label*="Server boosting since "]), /* boost icon */
[class*="-nowPlayingColumn"],
/* message buttons */
[class*="-hoverBarButton"]:not(:is([aria-label="Reply"], [aria-label="Add Reaction"], [aria-label="Edit"], [aria-label="Delete"])), /* nuke it all */
/* right click menu: chat */
[aria-label="Message Actions"] > [class*="-scroller"] > [role="group"]:has(:is([id*="message-quickreact-"], [id*="message-actions-quickreact-"])), /* quick reacts */
[aria-label="Message Actions"] > [class*="-scroller"] > [role="group"] [id="message-add-reaction"], /* add reacts (use hover) */
[aria-label="Message Actions"] > [class*="-scroller"] > [role="group"] > :is(
    #message-edit, #message-actions-edit,
    #message-reply, /* use hover, onmessage only */
    #message-actions-thread, /* search only */
    #message-mark-unread, #message-actions-mark-unread,
    #message-configure,
    #message-actions-report, /* search only */
    #message-tts, #message-actions-tts, /* why */
    [id*="message-actions-devmode-copy-id-"] + [id*="message-actions-devmode-copy-id-"] /* copy author id */
),
[aria-label="Message Actions"] > [class*="-scroller"] > [role="group"]:has(> #message-delete),
[aria-label="Message Actions"] > [class*="-scroller"] > [role="group"] > :has(> :is(
    #message-actions-add-reaction, /* search only */
    #message-save-for-later, #message-actions-save-for-later, /* bookmark */
    #message-apps, #message-actions-apps /* no */
)),
[aria-label="Message Actions"] > [class*="-scroller"] > [class*="-separator"],
/* right click menu: user */
[aria-label="User Settings Actions"] > [class*="-scroller"] > [role="group"] :is(
    #user-context-call, 
    #user-context-note,
    #user-context-apps,
    #user-context-invite-to-server, /* scary stuffs */
    #user-context-disable-video,
    #user-context-mute, /* just set to 0% */
    #user-context-mod-view, /* go to profile */
    #user-context-timeout,
    #user-context-kick,
    #user-context-ban /* use mod view */
),
[aria-label="User Settings Actions"] > [class*="-scroller"] > [class*="-separator"],
.vc-uvs-speaker,
[class*="-header"]:has(+ [class*="-body"] > div > [class*="-hangStatusIcon"]), 
[class*="-content"]:has(> [class*="-hangStatusIcon"]),
[class*="-voiceChannelDivider"], /* voice status */
.user-profile-popout section:has([aria-label="Game Collection"]),
[aria-label*="Subscriber since"], [aria-label*="Originally known as"], [aria-label*="Hypesquad"], [aria-label="Completed a Quest"],
.user-profile-popout [class*="-footer"],
/* right click menu: channel */
[aria-label="Channel Actions"] > [class*="-scroller"] > [role="group"] :is(
    #channel-context-opt-into-channel, 
    #channel-context-opt-into-category, 
    #channel-context-opt-in-favorite-channel, /* favorite */
    #channel-context-opt-out-category, /* unfollow category */
    #channel-context-channel-copy-link, /* copy link */
    #channel-context-create-text-channel, 
    #channel-context-create-voice-channel, /* specific channel creates */
    #channel-context-open-chat, 
    #channel-context-hide-voice-names, /* misc vc settings */
    #channel-context-collapse-category, 
    #channel-context-collapse-all-categories, /* collapse category on rightclick */
),
[aria-label="Channel Actions"] > [class*="-scroller"] > [class*="-separator"],
[aria-label="Thread Actions"] > [class*="-scroller"] > [role="group"] #thread-context-archive-thread, 
[aria-label="Thread Actions"] > [class*="-scroller"] > [class*="-separator"], /* thread settings */
/* right click menu: server */
[aria-label="Server Actions"] > [class*="-scroller"] > [role="group"]:has(> #guild-context-view-icon):not(:has(~ [role="group"] > [id*="guild-context-devmode-copy-id-"])), /* view icon in channel setting */
[aria-label="Server Actions"] > [class*="-scroller"] > [role="group"]:has(~ [role="group"] > [id*="guild-context-devmode-copy-id-"]) > :is(
    #guild-context-hide-muted-channels,
    #guild-context-create-channel,
    #guild-context-create-category,
    #guild-context-create-event, /* use channel rightclicks */
    #guild-context-vc-server-info,
    #guild-context-change-nickname, /* use top menu */
),
[aria-label="Server Actions"] > [class*="-scroller"] > [role="group"]:has(~ [role="group"] > [id*="guild-context-devmode-copy-id-"]) #guild-context-guild-settings,
[aria-label="Server Actions"] > [class*="-scroller"] > [class*="-separator"],
[id*="popout_"] [aria-label="Server Actions"] > [class*="-scroller"] > [role="group"] > :is(
    #guild-header-popout-premium-subscribe, /* buy nitro 4 */
    #guild-header-popout-invite-people,
    #guild-header-popout-create-channel,
    #guild-header-popout-create-category,
    #guild-header-popout-create-event, /* use channel menu */
    #guild-header-popout-application-directory,
    #guild-header-popout-notifications,
    #guild-header-popout-privacy, /* use server right click */
),
/* settings: global */
[data-settings-sidebar-item="family_center_panel"],
[data-settings-sidebar-item="authorized_apps_panel"],
[data-settings-sidebar-item="sessions_panel"],
[data-settings-sidebar-item="connections_panel"],
[data-settings-sidebar-item="clips_panel"],
[aria-label="Billing Settings"],
[data-settings-sidebar-item="keybinds_panel"],
[data-settings-sidebar-item="language_and_time_panel"],
[data-settings-sidebar-item="windows_panel"],
[data-settings-sidebar-item="streamer_mode_panel"],
[data-settings-sidebar-item="advanced_panel"],
[data-settings-sidebar-item="activity_privacy_panel"],
[aria-label="Developer Settings"],
[class*="-basicThemeSelectors"] ~ div, [class*="-basicThemeSelectors"] ~ section > [class*="-header"], /* nitro themes */
fieldset:has([class*="-basicThemeSelectors"]) + [class*="-selectionGroup"], /* inapp icon */
/* settings: server */
[class*="-header"]:has(+ [aria-label="Integrations"]),
[aria-label="Integrations"],
[aria-label="Server Tag"],
[aria-label="Boost Perks"],
[aria-label="App Directory"],
[aria-label="App Directory"] + [class*="-separator"], /* the entire apps category */
[class*="-item"]:has(+ [aria-label="AutoMod"]), /* safety setup */
[aria-label="AutoMod"], 
[class*="-header"]:has(+ [aria-label="Enable Community"]),
[aria-label="Enable Community"],
[aria-label="Enable Community"] + [class*="-separator"], /* enable community "category" */
[class*="-header"]:has(+ [aria-label="Server Subscriptions"]),
[aria-label="Server Subscriptions"],
[aria-label="Server Subscriptions"] + [class*="-separator"], /* monetization "category" */
[aria-label="Server Boost Status"],
[aria-label="Server Boost Status"] + [class*="-separator"], /* server boost "category" */
/* voicecall buttons */
[aria-label="Noise Suppression powered by Krisp"],
[aria-label="User area"] [class*="-actionButtons"] > button:first-child, [aria-label="User area"] [class*="-actionButtons"] > button:first-child + span, /* open camera */
[aria-label="User area"] [class*="-actionButtons"] > button:nth-child(5), [aria-label="User area"] [class*="-actionButtons"] > button:nth-child(5) + span, /* start an activity */
[aria-label="Voice Invite Suggestions, press to dismiss"],
span:has(> [aria-label="Invite to Voice"]), span:has(> [aria-label="Invite to Voice"]) + [class*="-hiddenVisually"], 
#hang-status-picker > [class*="-scroller"],
/* others */
#channel-attach-clips, #channel-attach-THREAD, #channel-attach-SLASH_COMMAND,
[class*="-channelBottomBarArea"] [class*="-buttons"] div[aria-label="Send a gift"], /* buy nitro 3 */
[class*="-channelBottomBarArea"] [class*="-buttons"] [class*="expression-picker-chat-input-button"]:has(+ div[aria-label="Send a gift"]), /* translation */
[class*="-emojiPickerListWrapper"] [class*="-categorySection"]:has(path[d="M8 20a1 1 0 0 0-1 1v.5c0 .28.22.5.5.5h9a.5.5 0 0 0 .5-.5V21a1 1 0 0 0-1-1h-1a2 2 0 0 1-2-2v-.48c0-.95.7-1.73 1.5-2.23a5.7 5.7 0 0 0 1.23-1.08l2.3-.7A7 7 0 0 0 23 6.81V6a2 2 0 0 0-2-2h-2.24A2.85 2.85 0 0 0 16 2H8c-1.3 0-2.43.84-2.76 2H3a2 2 0 0 0-2 2v.82a7 7 0 0 0 4.96 6.7l2.31.7c.37.42.79.78 1.24 1.07.8.5 1.49 1.28 1.49 2.23V18a2 2 0 0 1-2 2H8Zm9.29-8.35.17-.05A5 5 0 0 0 21 6.82V6h-2.27a21.75 21.75 0 0 1-1.44 5.65Zm-10.58 0-.17-.05A5 5 0 0 1 3 6.82V6h2.27c.25 1.94.7 3.95 1.44 5.65Z"]),
#emoji-picker-tab-panel [class*="-scroller"] [class*="-categoryItemDefaultCategory"][data-list-item-id="NO_LIST___expression-guild-0"], /* top emoji */
[class*="-videoGrid"] [class*="-tile"]:has(button), /* youre the only one here */
[class*="-hoverButtonGroup"]:has(> [aria-label="Edit Image with Apps"]), /* image on hover "ai" stuff */
.app-launcher-entrypoint /* app launcher */
{ display: none !important; }

/* style choices */
/* layout: shorten width of side panels */
.vc-membercount-member-list { display: none; }
body { --custom-member-list-width: 150px !important; --custom-guild-sidebar-width: 250px !important; } /* left tab */
section[aria-label="User area"] [class*="-nameTag"] { display: none !important; } /* name text in profile (to fit buttons in 150px) */
section[aria-label="User area"] [aria-label="Set Status"] { min-width: 40px !important; }
section[aria-label="User area"] [aria-label="Set Status"] + [class*="-flex"] { width: 88px !important;  } /* icons on bottom left */
[class*="-guilds"] ~ [class*="-base"] > [class*="-content"] > [class*="-sidebar"] { width: 150px !important; } /* right tab */
[class*="-members"] [class*="-memberInner"] { padding-left: 0 !important; }
[class*="-members"] [class*="-membersGroup"] { padding-left: 8px !important; } /* give less margin on right tab */
[class*="-rtcConnectionStatusLabel"], [class*="-rtcConnectionStatus"] + a[href*="/channels/"] { display: none !important; }
[class*="-inner"]:has(> [class*="-rtcConnectionStatusWrapper"]) { flex: 0.3 !important; }
[class*="-voiceButtonsContainer"] { margin: 0 !important; flex: 1 !important; }
[aria-label="User area"] [class*="-buttons"] { gap: 0 !important; }
.user-profile-popout { width: 240px !important; }
[class*="-withDisplayNameStyles"] span, [class*="-username"], [class*="-username"] span { font-family: var(--font-primary) !important; }
/* function: restore soundboard */
[class*="-actionButtons"] div:has(> [aria-label="Open Soundboard"]) { display: block !important; }
[class*="-actionButtons"] { display: flex; justify-content: space-around; transform: translate(-32px, 0); } /* fits buttons around, made to suit 150px leftbar */
[class*="-actionButtons"] button, [class*="-actionButtons"] div:has(> button) { min-width: 32px !important; }
[class*="-voiceButtonsContainer"] button[aria-label="Disconnect"] { transform: translate(137px, 0); } /* rearranges disconnect to be at rightmost */
[class*="-voiceButtonsContainer"] button[aria-label="Disconnect"] svg { color: var(--status-danger); } /* makes it red also */
/* layout: put chat messages closer together */
.group-spacing-16 { --f-msg-spacing: 24px !important; }
:is([class*="-messageListItem"], [class*="-backgroundFlash"], [class*="-quotedChatMessage"]):has(+ :is([class*="-messageListItem"], [class*="-backgroundFlash"]) :is([class*="-groupStart"], [class*="-systemMessage"])):after {
    border-bottom: 0px solid transparent !important; } /* lines */
[class*="-formWithLoadedChatInput"] [class*="-buttons"] { gap: 0 !important; } /* make buttons closer */
[class*="-text-md\/medium"] { font-size: 13px !important; }
[class*="-text-lg\/medium"] { font-size: 16px !important; }
/* layout: shorten height */
[class*="-standardSidebarView"] [class*="-divider"] { margin-top: 20px; margin-bottom: 20px; }
/* layout: expand emoji */
[class*="-expressionPickerPositionLayer"] [class*="-drawerSizingWrapper"] {
    transform: scale(0.5, 0.5); transform-origin: 0 0; width: min(200%, 400px) !important; } /* janky way to "zoom out" */
[class*="-expressionPickerPositionLayer"] [class*="-drawerSizingWrapper"] [class*="-contentWrapper"] {
    width: 200% !important; height: 200% !important; } /* make emojis fill up the expanded space */
[class*="-emojiPicker"] [class*="-input"] { font-size: 28px; } /* emoji name preview */
[class*="-emojiPicker"] [class*="-input"]::placeholder { color: var(--text-normal) !important; }
/* layout: unfuck voice buttons */
[aria-label="User area"] [class*="-actionButtons"] {
    position: absolute;
    background: transparent;
    transform: translate(108px, 0px);
    width: 64px;
}
[aria-label="User area"] [class*="-actionButtons"] button { background: transparent !important; padding: 0; }
[aria-label="User area"] [class*="-connection"] > div:first-child { min-width: 100px; }
[aria-label="User area"] [class*="-connection"] > div:last-child { transform: translate(48px, 0); }
/* style: uncolorize rolegroup */
[class*="-members"] [class*="-membersGroup"] span { color: var(--channels-default) !important; }
[class*="-activityPanel"] { background-color: unset !important; }