extends ../template/base.pugtemplate
block meta
    - v = true
    - title = 'lala\'s basement'
    - description = ':3'
    - icon = "https://prod.kr/images/icon/lala.png"
block postbody
    script.
        window.location.href = 'https://discord.gg/BjjwZzeMhu';