extends ../template/base.pugtemplate
block meta
    - v = true
    - title = 'lala\'s basement'
    - description = ':3'
block postbody
    script.
        window.location.href = 'https://discord.gg/BjjwZzeMhu';